@page
@using ASU_Degesta.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject UserManager<DegestaUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled/>
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" disabled value="@UserManager.GetUserAsync(User).Result.Name"/>
                <label class="form-label">ФИО</label>
            </div>
            <div class="form-floating">
                @foreach (IdentityRole role in RoleManager.Roles.ToList())
                {
                    if (Model.UserRoles.Contains(role.Name))
                    {
                        <button type="button" disabled class="btn btn-outline-dark">@role.Name</button>
                    }
                }
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}