@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
@{
    if (TempData["ErrorMessage"] == null)
    {
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
    else
    {
        <h1 class="text-danger">Ошибка</h1>
        <h2 class="text-danger">@TempData["ErrorMessage"]</h2>
    }
}



@if (Model.ShowRequestId)
{
    <br/><br/><br/><br/>
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}