@page
@model PrivacyModel
@{
    ViewData["Title"] = "О комплексе";
}
<h1>@ViewData["Title"]</h1>
<br>


<div class="h-100 d-flex align-items-center justify-content-center">
  <div style="font-size: 24px">
    Программный комплекс, в рамках ВКР для решения 4-ех задач в подсистеме технико-экономического планирования.
  </div>
   
</div>

<div style="font-size: 24px">
      Разработал: студент НИУ МГСУ ИЦТМС-4-5 Ветров Сергей
    </div>
<p></p>