@page
@model CreateModel

@{
    ViewData["Title"] = "Создать новый прайс-лист";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PriceList_id.doc_id" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <label asp-for="PriceList_id.doc_name" class="control-label"></label>
                <div class="input-group mb-3">
                    <input id="paste" asp-for="PriceList_id.doc_name" class="form-control"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="pasteName('Прайс-лист')">Вставить</button>
                    </div>
                </div>
                <span asp-validation-for="PriceList_id.doc_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PriceList_id.creation_date" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <input asp-for="PriceList_id.creator" class="form-control d-none" value="mg"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>