@page
@using ASU_Degesta.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ASU_Degesta.Pages.Roles.UserList

@inject UserManager<DegestaUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<h2>Список сотрудников</h2>
<table class="table">
    @foreach (var user in UserManager.Users.ToList())
    {
        <tr>
            @if (user.LockoutEnd != null)
            {
                <td style="color: red;">@(user.Name == "" || user.Name == null ? user.Email : user.Name)</td>
            }
            else
            {
                <td>@(user.Name == "" || user.Name == null ? user.Email : user.Name)</td>
            }

            <td>
                @foreach (var role in UserManager.GetRolesAsync(user).Result)
                {
                    //if (await UserManager.IsInRoleAsync(user, role.Name))
                    //{
                        <button type="button" disabled class="btn btn-outline-dark">@role</button>
                    //}
                }
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-page="EditUser" asp-route-userid="@user.Id">Подробнее</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-primary" asp-page="AddUser">Добавить сотрудника</a><br>

<a asp-page="./Index">Назад к списку</a>