@page
@model ASU_Degesta.Pages.PED.Polozhenie
<a href="/PED/Index" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
    </svg>
    Вернуться к списку
</a>
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1251">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
h1
	{mso-style-link:"Заголовок 1 Знак";
	margin:0cm;
	text-align:center;
	line-height:300%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
p
	{margin-right:0cm;
	margin-bottom:7.5pt;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
pre
	{mso-style-link:"Стандартный HTML Знак";
	margin-top:.75pt;
	margin-right:0cm;
	margin-bottom:.75pt;
	margin-left:0cm;
	font-size:7.5pt;
	font-family:"Courier New";}
span.1
	{mso-style-name:"Заголовок 1 Знак";
	mso-style-link:"Заголовок 1";
	font-family:"Times New Roman",serif;
	font-weight:bold;}
span.HTML
	{mso-style-name:"Стандартный HTML Знак";
	mso-style-link:"Стандартный HTML";
	font-family:"Courier New";}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
page WordSection1
	{size:595.3pt 841.9pt;
	margin:2.0cm 42.5pt 2.0cm 3.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=RU style='word-wrap:break-word'>

<div class=WordSection1><pre style='text-align:right'><span style='font-family:
"Times New Roman",serif'>                                                                  УТВЕРЖДАЮ</span></pre><pre
style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                       ____________________________________</span></pre><pre
style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                       (наименование должности руководителя</span></pre><pre
style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                                   предприятия)</span></pre>

<p class=MsoNormal align=right style='margin-bottom:12.0pt;text-align:right'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<pre style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                       ____________________________________</span></pre><pre
style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                               (Ф.И.О., подпись)</span></pre>

<p class=MsoNormal align=right style='margin-bottom:12.0pt;text-align:right'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<pre style='text-align:right'><span style='font-family:"Times New Roman",serif'>                                              &quot;____&quot;______________ _____ г.</span></pre>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>ПОЛОЖЕНИЕ</i></p>

<p align=center style='text-align:center'><i>о планово-экономическом отделе
предприятия</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>1. ОБЩИЕ ПОЛОЖЕНИЯ</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>1.1. Планово-экономический отдел (далее -
&quot;отдел&quot;) является структурным подразделением предприятия и
подчиняется непосредственно генеральному директору.</p>

<p style='text-align:justify'>1.2. Отдел создан на основании приказа
руководителя предприятия N _____ от &quot;__&quot;_______ ____ г.</p>

<p style='text-align:justify'>1.3. Начальник отдела назначается и освобождается
от должности приказом руководителя предприятия.</p>

<p style='text-align:justify'>Работники отдела назначаются и освобождаются от
должности приказом руководителя предприятия по представлению Начальника отдела.</p>

<p style='text-align:justify'>1.4. Отдел в своей работе руководствуется:</p>

<p style='text-align:justify'>- федеральными законами Российской Федерации;</p>

<p style='text-align:justify'>- указами и распоряжениями Президента Российской
Федерации;</p>

<p style='text-align:justify'>- постановлениями и распоряжениями Правительства
Российской Федерации;</p>

<p style='text-align:justify'>- законами Московской области;</p>

<p style='text-align:justify'>- уставом предприятия;</p>

<p style='text-align:justify'>- настоящим Положением.</p>

<p style='text-align:justify'>1.5. В отделе должны быть документы и материалы
по следующим вопросам:</p>

<p style='text-align:justify'>- методические материалы, касающиеся экономики
предприятия;</p>

<p style='text-align:justify'>- стратегия и перспективы развития предприятия;
перспективы развития отрасли;</p>

<p style='text-align:justify'>- профиль, специализация и особенности структуры
предприятия;</p>

<p style='text-align:justify'>- организация разработки перспективных и текущих
планов производственно-хозяйственной деятельности предприятия;</p>

<p style='text-align:justify'>- порядок разработки бизнес-планов;</p>

<p style='text-align:justify'>- система экономических стандартов и показателей
предприятия;</p>

<p style='text-align:justify'>- порядок определения себестоимости товарной
продукции, разработки нормативов материальных и трудовых затрат, оптовых и
розничных цен;</p>

<p style='text-align:justify'>- методы определения экономической эффективности
внедрения новой техники и технологии, мероприятий по повышению
конкурентоспособности продукции, совершенствованию организации труда и
управления;</p>

<p style='text-align:justify'>- основы технологии производства;</p>

<p style='text-align:justify'>- единая государственная система
делопроизводства;</p>

<p style='text-align:justify'>- правила внутреннего трудового распорядка;
правила и нормы охраны труда.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>2. СТРУКТУРА ОТДЕЛА</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>2.1. Структуру и штаты отдела утверждает
руководитель предприятия.</p>

<p style='text-align:justify'>2.2. Руководство отделом осуществляет Начальник
отдела.</p>

<p style='text-align:justify'>2.3. В состав отдела входят (указать структурное
подразделение отдела):</p>

<p style='text-align:justify'>- Начальник отдела;</p>

<p style='text-align:justify'>- Специалист отдела;</p>

<p style='text-align:justify'>- __________________________________________;</p>

<p style='text-align:justify'>- __________________________________________;</p>

<p style='text-align:justify'>- __________________________________________.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>3. ОСНОВНЫЕ ЗАДАЧИ ОТДЕЛА</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>3.1. Работа по экономическому планированию на
предприятии, направленному на организацию рациональной хозяйственной
деятельности в соответствии с потребностями рынка и возможностями получения
необходимых ресурсов.</p>

<p style='text-align:justify'>3.2. Разработка стратегии предприятия с целью
адаптации его хозяйственной деятельности и системы управления к изменяющимся в
условиях рынка внешним и внутренним экономическим условиям.</p>

<p style='text-align:justify'>3.3. Проведение комплексного экономического
анализа всех видов деятельности предприятия.</p>

<p style='text-align:justify'>3.4. Статистический учет по всем производственным
и технико-экономическим показателям работы предприятия.</p>

<p style='text-align:justify'>3.5. Учет и анализ результатов производственно-хозяйственной
деятельности предприятия.</p>

<p style='text-align:justify'>3.6. Технико-экономическое планирование
деятельности подразделений предприятия.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>4. ФУНКЦИИ ОТДЕЛА</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>В соответствии с возложенными на него задачами
отдел осуществляет следующие функции:</p>

<p style='text-align:justify'>4.1. Экономическое планирование работы на
предприятии, направленной на организацию рациональной хозяйственной
деятельности в соответствии с потребностями рынка и возможностями получения
необходимых ресурсов, выявление и использование резервов производства с целью
достижения наибольшей эффективности работы предприятия.</p>

<p style='text-align:justify'>4.2. Подготовку проектов текущих планов
подразделениями предприятия по всем видам деятельности в соответствии с
заказами потребителей продукции, работ (услуг) и заключенными договорами, а
также обоснований и расчетов к ним.</p>

<p style='text-align:justify'>4.3. Составление среднесрочных и долгосрочных
комплексных планов производственной, финансовой и коммерческой деятельности
(бизнес-планов) предприятия.</p>

<p style='text-align:justify'>4.4. Разработку прогрессивных плановых
технико-экономических нормативов материальных и трудовых затрат, проектов
оптовых и розничных цен на продукцию предприятия, тарифов на работы (услуги) с
учетом спроса и предложения и с целью обеспечения запланированного объема
прибыли, составление нормативных калькуляций продукции и контроль за внесением
в них текущих изменений планово-расчетных цен на основные виды сырья,
материалов и полуфабрикатов, используемых в производстве, сметной калькуляции
товарной продукции.</p>

<p style='text-align:justify'>4.5. Подготовку заключений на проекты оптовых цен
на продукцию, поставляемую предприятию.</p>

<p style='text-align:justify'>4.6. Проведение комплексного экономического
анализа всех видов деятельности предприятия и разработка мероприятий по
эффективному использованию капитальных вложений, материальных, трудовых и
финансовых ресурсов, повышению конкурентоспособности выпускаемой продукции,
производительности труда, снижению издержек на производство и реализацию
продукции, повышению рентабельности производства, увеличению прибыли,
устранению потерь и непроизводительных расходов.</p>

<p style='text-align:justify'>4.7. Контроль за выполнением подразделениями
предприятия плановых заданий, а также статистический учет по всем
производственным и технико-экономическим показателям работы предприятия,
подготовка периодической отчетности в установленные сроки, систематизация
статистических материалов.</p>

<p style='text-align:justify'>4.8. Подготовку предложений по конкретным
направлениям изучения рынка с целью определения перспектив развития
предприятия, осуществление координации проведения исследований, направленных на
повышение эффективности его производственно-хозяйственной деятельности.</p>

<p style='text-align:justify'>4.9. Разработку рациональной учетной
документации.</p>

<p style='text-align:justify'>4.10. Разработку методических материалов по
технико-экономическому планированию деятельности подразделений предприятия,
расчету экономической эффективности внедрения новой техники и технологии,
организационно-технических мероприятий, направленных на повышение
конкурентоспособности продукции, работ (услуг).</p>

<p style='text-align:justify'>4.11. Разработку унифицированной плановой
документации, экономических стандартов, внедрение средств механизированной и
автоматизированной обработки плановой и учетной информации.</p>

<p style='text-align:justify'>4.12. Осуществление методического руководства
деятельностью других структурных подразделений по экономическим вопросам.</p>

<p style='text-align:justify'>4.13. Осуществление в рамках своей компетенции
ведения делопроизводства, формирование и отправление/получение корреспонденции
и другой информации по электронным каналам связи.</p>

<p style='text-align:justify'>4.14. Осуществление организации ведения
нормативно-справочной информации, относящейся к функциям отдела.</p>

<p style='text-align:justify'>4.15. Обеспечение в пределах своей компетенции
защиты сведений, составляющих государственную тайну, и иных сведений
ограниченного распространения.</p>

<p style='text-align:justify'>4.16. Осуществление в соответствии с
законодательством Российской Федерации работы по комплектованию, хранению,
учету и использованию архивных документов, образовавшихся в ходе деятельности
отдела.</p>

<p style='text-align:justify'>Возложение на отдел функций, не относящихся к
компетенции отдела, не допускается.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>5. ПРАВА</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>Отдел для решения возложенных на него задач имеет
право:</p>

<p style='text-align:justify'>5.1. Запрашивать в установленном порядке от
структурных подразделений предприятия информацию (материалы) по вопросам,
входящим в компетенцию отдела.</p>

<p style='text-align:justify'>5.2. Создавать экспертные и рабочие группы по
вопросам экономического планирования на предприятии.</p>

<p style='text-align:justify'>5.3. Проводить в пределах своей компетенции в
установленном порядке переговоры со сторонними организациями, подписывать
договоры.</p>

<p style='text-align:justify'>5.4. Использовать средства, выделяемые на
финансирование приоритетных направлений экономического развития предприятия.</p>

<p style='text-align:justify'>5.5. Организовывать проведение при необходимости
экспертизы целевых научно-технических и инновационных программ и проектов.</p>

<p style='text-align:justify'>5.6. Вносить предложения по вопросам, входящим в
компетенцию отдела, в виде проектов.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>6. РЕЗУЛЬТАТЫ РАБОТЫ</i></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Ежемесячный план выпуска изделий в
номенклатуре (в натуральных единицах измерения);</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Ежегодный план выпуска изделий в
номенклатуре (в натуральных единицах измерения);</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчет сравнения плановых и фактических
значений технико-экономических показателей</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>План выпуска изделий в рублях;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт выполнения плана изделий в
номенклатуре;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Прогноз на технико-экономические
показатели предприятия;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт о себестоимости произведённой
продукции за месяц;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт о себестоимости единицы
продукции;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт о рентабельности за месяц;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт о рентабельности за год;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Проект по снижению себестоимости
готовой продукции;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>План технико-экономических показателей</span><span
lang=EN-US style='color:black'>;</span></p>

<p style='margin-left:36.0pt;text-indent:-18.0pt'><span style='font-family:
Symbol;color:black'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Отчёт о выполнении плана
технико-экономических показателей.</span></p>

<p align=center style='text-align:center'><i>7. ВЗАИМОДЕЙСТВИЕ СО СТРУКТУРНЫМИ
ПОДРАЗДЕЛЕНИЯМИ ПРЕДПРИЯТИЯ</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>7.1. В процессе производственной деятельности
предприятия отдел взаимодействует со следующими структурными подразделениями:</p>

<p style='text-align:justify'>- Бухгалтерия,</p>

<p style='text-align:justify'>- Отдел продаж,</p>

<p style='text-align:justify'>- Отдел контроля качества,</p>

<p style='text-align:justify'>- Производственный отдел.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>8. ОТВЕТСТВЕННОСТЬ</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>8.1. Всю полноту ответственности за качество и
своевременность выполнения возложенных настоящим Положением на отдел задач и
функций несет Начальник отдела.</p>

<p style='text-align:justify'>8.2. Ответственность работников отдела
устанавливается действующим законодательством и должностными инструкциями.</p>

<p style='text-align:justify'>8.3. Начальник и другие работники отдела несут
персональную ответственность за соответствие оформляемых ими документов и операций
с корреспонденцией законодательству Российской Федерации.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p align=center style='text-align:center'><i>9. КРИТЕРИИ ОЦЕНКИ ДЕЯТЕЛЬНОСТИ
ОТДЕЛА</i></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p style='text-align:justify'>9.1. Своевременное и качественное выполнение
поставленных целей и задач.</p>

<p style='text-align:justify'>9.2. Качественное выполнение функциональных
обязанностей.</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'><br>
<br>
<br>
</span></p>

<p style='text-align:justify'>Начальник планово-экономического отдела</p>

<p style='text-align:justify'>_______________________________________</p>

<p style='text-align:justify'>_________________/_____________________</p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'><br>
<br>
<br>
<br>
</span></p>

<p class=MsoNormal><span style='font-family:"Times New Roman",serif'>&nbsp;</span></p>

<h1 align=left style='text-align:left'>&nbsp;</h1>

</div>

</body>

</html>

